* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    width: 100%;
}
header {
    position:absolute;
    width: 100%;
    padding-top: 40px;
    z-index: 1;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.navbar {
    padding: 0;
}
nav .nav-link {
    padding: 0 !important;
    margin-right: 39px;
}
.navbar-nav {
    text-align: center;
    margin-left: 50px;
}
.heart-icon-margin {
    margin-left: 25px;
}
.dropdown-toggle {
    border-right: 0.5px solid rgba(0, 0, 0, 0.2);
    width: 24%;
}
.navbar-toggler-icon {
    filter: invert(100%);
}
.dropdown-toggle::after {
    display: inline-block !important;
    margin-left: 34px;
    vertical-align: middle;
    content: "" ;
    height: 6px;
    width: 10px;
    background: url('./images/down-arrow.png') !important;
    border-top: 0 ;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.input-box {
    width: 74%;
}
.navbar-nav li {
    font-weight: 500;
}
.nav__arrow {
    transform: rotateY(180deg);
}
.fs-xs {
    font-size: 14px;
}
.fs-s {
    font-size: 16px;
}
.fs-m {
    font-size: 18px;
}
.fs-xm {
    font-size: 22px;
}
.fs-l {
    font-size:24px;
}
.fs-xl {
    font-size:32px;
}
.fs-xxl {
    font-size: 42px;
}
.margin-0 {
    margin: 0 auto;
}
.font-color-dark-gray {
    color: #454545;
}
.color-blue {
    color: #004dff;
}
.bg-color-004dff { 
    background-color:#004dff;;
}
.opacity-7 {
    opacity: 0.7;
}
.container {
    max-width: 1150px;
    padding:0 20px;
    margin: 0 auto;
}
button,input { 
    box-shadow: none !important; 
    border: none;
    color: #454545;
}
.input-div {
    max-width: 635px;
    min-height: 50px;
}
.hero {
    background: url("./images/hero-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:651px;
    position:relative
}
footer {
    margin-top: 80px;
    padding: 50px 0;
    background-color: #f6f7f9;
}
.footer-para {
    line-height: 24px;
    margin: 0 84px;
    padding: 0 80px;
}
.featured_section {
    padding:80px 0;
}
.featured_section__flex-div {
    margin: 30px 0;
    row-gap: 30px;
}
.featured_section__card {
    max-width: 350px;
}
.margin-left-12 {
    margin-left: 12px;
}
.property-btn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 148px;
    background-color: #004dff;
    border-radius: 25px;
    font-weight: 600;
}
.contact-section {
    padding-top: 20px;
    padding-bottom: 100px;
}
.contact-section__info-card,.contact-section__sell-card {
    max-width: 520px;
    border: none;
}
.contact-section__info-card-body{
    background-color: #f6f7f9;
}
.contact-section__sell-card-body {
    background-color: #004dff; 
}
.contact-section__info-card-body,.contact-section__sell-card-body {
    padding: 50px;
    border-radius: 5px;
}
.contact-us-btn {
    background-color: #1dc679;
    border-radius: 25px;
    height: 50px;
    width: 134px;
    line-height: 50px;
    display: inline-block;
}
.sale-section {
    min-height: 700px;
    background: url('./images/beautiful-scenery.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.sale-section__info-card {
    padding: 50px;
    margin-bottom:10px;
    max-width: 540px
}
.sale-section__contact-card {
    padding: 20px 50px 0;
    max-width: 540px
}
.sale-btn {
    background-color: #ff9f00;
    border-radius: 5px;
    width: 87px;
   height: 30px;
   line-height: 30px;
}
.contact-btn {
    background-color:#004dff;
    width: 134px;
    line-height: 50px;
    border-radius: 25px;
}
.clients-section {
    padding-top: 100px;
    padding-bottom: 20px;
}
.slider {
    position: relative;
    min-height: 450px;
}
.owl-stage {
    display: flex;
    align-items: center;
}
.owl-item.active .card{
    background-color: #f6f7f9;
    margin: 15px;
    border: none;
}
.owl-item.active.center .card {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
   line-height: 27px;
   background-color: #ffffff;
    border: 1px solid #f9f9f9;
}
.owl-item.active.center .card p {
    font-size: 18px;
}
.owl-item.active.center .card h5 {
    font-size: 24px;
}
.owl-nav .owl-next {
    position:absolute;
    top:50%;
    right: 0;
    font-size: 30px !important;
    z-index: 1;
    color: #004dff;
}
.owl-nav .owl-prev {
    position:absolute;
    top:50%;
    left: 0;
    font-size: 30px !important;
    z-index: 1;
    color: #004dff;
}
.owl-carousel .owl-item img {
    height: 100px;
    width: 100px !important;
    display: inline !important;
}
.owl-nav.disabled {
    display: block !important;
}
@media only screen and (max-width: 426px) {
    .footer-para {
        margin: 0;
        padding: 0;
    }
    .input-div {
        max-width: 635px;
        min-height: 50px;
        flex-direction: column;
        align-items: center;
    }
    .dropdown-toggle {
        width: 100% !important;
        border-radius: 10px !important;
        margin-bottom: 5px; 
    }
    .input-box {
        width: 100%;
    }
    .search-icon {
        border-radius:10px
    }
    .dropdown-menu {
        left: 36px !important;
        top: 55px !important;
    }
    input {
        padding: 15px !important;
    }
    .dropdown-toggle::after {
        margin-left: 20px;
    }
  }
  @media only screen and (max-width: 991px) {
   .navbar {
    background-color: #004dff;
   }
  }
  @media only screen and (max-width: 400px) {
  .sale-section__contact-card>div {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 1024px) {
    .contact-section__info-card {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 376px){
.fs-xxl {
    font-size: 26px;
}
.fs-xs {
    font-size: 12px;
}
.margin-left-12 {
    margin-left: 8px;
}
.fs-m {
    font-size: 16px;
}
.fs-xl {
    font-size: 24px;
}
}
@media only screen and (max-width: 321px) {
    .fs-m {
        font-size: 15px;
    }
}